<h1> Guest user view </h1>

<div class="carpools-index">
  <% @carpools.each do |carpool| %> <!-- https://stackoverflow.com/questions/20774180/undefined-method-each-for-nilnilclass-why -->
    <% if carpool.date_time >= DateTime.now %>
      <div class="each-carpool">
        <h3><%= "Carpool of: #{User.find_by(id: carpool.driver_id).name}" %></h3> 

        <p><%= "From: #{carpool.from_location}" %></p>
        <p><%= "To: #{carpool.to_location}" %></p>
        <p><%= "Type: #{carpool.type_of_ride}" %></p>
        <p><%= "When: #{carpool.date.strftime('%A %B %d')}, at #{carpool.time_of_departure}" %></p>
        <p> <%= link_to "More info", new_user_registration_path %></p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Back", root_path %>
