<div class="content">
    <h1>Offer a Ride</h1>

    <%= link_to image_tag("icons/arrow-point-to-right.png", height: 15, width: 15) %>
    <%= link_to image_tag("icons/home.png", height: 15, width: 15) %>
    <%= link_to "From Campus", carpools_new_from_campus_path %> <br>
    <br>
    <%= link_to image_tag("icons/arrow-point-to-right.png", height: 15, width: 15) %>
    <%= link_to image_tag("icons/mortarboard.png", height: 15, width: 15) %>
    <%= link_to "To Campus", carpools_new_to_campus_path %> <br>

</div>